---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { get_player_icon } from '@helpers/eve_image_server';

import Flexblock from '@components/compositions/Flexblock.astro';
import Viewport from '@layouts/Viewport.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import PageCover from '@components/page/PageCover.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import ThumbInfoCard from '@components/blocks/ThumbInfoCard.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import ButtonCard from '@components/blocks/ButtonCard.astro';
import Grid from '@components/compositions/Grid.astro';
import TailwindIcon from '@components/icons/webstack/TailwindIcon.astro';
import AstroIcon from '@components/icons/webstack/AstroIcon.astro';
import AlpineJSIcon from '@components/icons/webstack/AlpineJSIcon.astro';
import HtmxIcon from '@components/icons/webstack/HtmxIcon.astro';
import TippyJSIcon from '@components/icons/webstack/TippyJSIcon.astro';
import WebStackIcon from '@components/icons/WebStackIcon.astro';
import DesignTokenIcon from '@components/icons/DesignTokenIcon.astro';
import CompositionIcon from '@components/icons/CompositionIcon.astro';
import JWTIcon from '@components/icons/JWTIcon.astro';

const page_title = t('web_stack.page_title');
const page_description = t('web_stack.leading_text');
---

<Viewport title={page_title} meta_description={page_description}>
    <PageCover
        image="/images/index-cover.jpg"
        image_990="/images/index-cover-990.jpg"
        alt={t('index.cover_alt')}
        overlay={true}
        scrollable={true}
    />

	<main id="content">
		<Wrapper max_width="var(--max-text-width)" neocom={true} centered={true}>
            <Flexblock gap='var(--space-2xl)'>
                <h1>{page_title}</h1>
                <p>{page_description}</p>

                <Flexblock class="circled" gap='var(--space-l)'>
                    <h2>Web stack</h2>

                    <Grid min_item_width="260px">
                        <ButtonCard title="Astro" subtitle="Web Framework" circle={true} href={translatePath('/web_stack/')}>
                            <AstroIcon slot="icon" />
                        </ButtonCard>

                        <ButtonCard title="Tailwind" subtitle="CSS Framework" circle={true} href={translatePath('/web_stack/')}>
                            <TailwindIcon slot="icon" />
                        </ButtonCard>

                        <ButtonCard title="Alpine.js" subtitle="JavaScript Framework" circle={true} href={translatePath('/web_stack/')}>
                            <AlpineJSIcon slot="icon" />
                        </ButtonCard>

                        <ButtonCard title="htmx" subtitle="JavaScript Library" circle={true} href={translatePath('/web_stack/')}>
                            <HtmxIcon slot="icon" />
                        </ButtonCard>

                        <ButtonCard title="Tippy.js" subtitle="JavaScript Library" circle={true} href={translatePath('/web_stack/')}>
                            <TippyJSIcon slot="icon" />
                        </ButtonCard>
                    </Grid>
                </Flexblock>
            </Flexblock>
		</Wrapper>
	</main>
</Viewport>